.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-background-color: linear-gradient(to bottom,#65d34d,#2f9618);
    -fx-text-alignment: center;
    -fx-text-fill: #fff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}